
.navbar {
	position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
	padding: 12px 20px;
}

.right-nav {
	justify-content: space-between;
}

.search-form {
	display: flex;
}

.container {
	display: flex;
	margin-top: 80px;
}

.sidebar {
	width: 300px;
	position: fixed;
	z-index: 19;
	margin-right: 12px;
	border-left: 1px solid rgba(0, 0, 0, 0.125);
	border-right: 1px solid rgba(0, 0, 0, 0.125);
}

h3 {
	margin-top: 0;
	margin-left: 20px;
}

.intro {
	margin-left: 20px;
}

.images {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* margin: 20px; */
}

.card {
	margin: 20px;
}

.list-group-item {
	border-radius: unset!important;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	border-left: unset;
	border-right: unset;
}

.list-group-item:hover {
	cursor: pointer;
}

.search {
	margin-left: 12px;
}

.cars {
	margin-left: 300px;
}
